<h2 class="offset-md-3">Últimas noticias</h2>
<div class="row">
  <section class="col-md-9">
      <div class="row mb-2">
        <article class="col-sm-6 card border-0" *ngFor="let noticia of noticias">
          <img class="card-img-top" src="{{ noticia.img }}" class="img-fluid mb-2" alt="">
          <div class="card-block">
            <h4 class="card-title">
              <p class="descripcion text-light pl-1 pr-1"> {{ noticia.cap }} </p>
              <a class="" href="#" class="stretched-link">
                <h6 class="text-dark">{{ noticia.tit }}</h6>
              </a>
            </h4>
          </div>
        </article>
      </div>
  </section>
  <aside class="col-md-3">
    <div class="card text-justify">
      <a href="https://www.ebay.com/p/18030522509?iid=283557151550&chn=ps&dispctrl=1"><img id="publicidad"
          src="assets/ultramale.jpg" alt="..."></a>
      <div class="card-body">
        <h5 class="card-title">Ultra Male</h5>
        <p>La nueva fragancia de Jean Paul Gaultier, un perfume de poder irresistible que te seduce por completo,
          consiguiendo que todos los sentidos se rindan frente a la potencia olfativa de múltiples facetas,
          transportándote a un universo inexplorado.</p>
      </div>
    </div>
  </aside>
</div>
