<!-- Footer -->
<footer class="page-footer font-small blue pt-4">
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-md-6 mt-md-0 mt-3">


                <h5 class="text-uppercase">Programación y Servicios Web</h5>
                <p>Enzo Aramayo</p>

            </div>


            <hr class="clearfix w-100 d-md-none pb-3">

            <div class="col-md-6 mb-md-0 mb-6">

                <!-- Links -->
                <h5 class="text-uppercase">Redes Sociales</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">facebook</a>
                    </li>
                    <li>
                        <a href="#!">twitter</a>
                    </li>
                    <li>
                        <a href="#!">youtube</a>
                    </li>
                </ul>

            </div>

        </div>

    </div>

    <!-- Copyright -->
    <div class="col copyright">
        <p class=""><small class="text-white-50">© 2020. Todos los derechos reservados.</small></p>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->