<div class="row">

  <section class="col-md-8 align-content-center">
    <div id="slider-inicio" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a href="noticias.html"><img src="assets/noticias.jpg" class="d-block w-100" alt="noticias-imagen"></a>
        </div>
        <div class="carousel-item">
          <a href="cotizaciones.html"><img src="assets/dolar.jpg" class="d-block w-100" alt="cotizaciones-dolar"></a>
        </div>
        <div class="carousel-item">
          <a href="horoscopo.html"><img src="assets/horoscopo.jpg" class="d-block w-100" alt="horoscopo-imagen"></a>
        </div>
      </div>
      <a class="carousel-control-prev" href="#slider-inicio" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#slider-inicio" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div class="contenido">
      <br>
      <h5>Lorem ipsum </h5>
      <br>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex obcaecati reprehenderit quos quam
        vero deleniti nobis, laboriosam, non consequuntur dolorem labore, eos odio! Minima doloremque
        quaerat, nesciunt ad numquam dolores.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi amet ratione nesciunt neque eos
        sit beatae nisi sed exercitationem, accusantium voluptatibus maiores dolores ipsam eum
        repudiandae quia ut laboriosam! Voluptate.</p>
    </div>
  </section>

  <aside class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 class="">Best of ZARD</h5>
        <p class="card-text">Zard - きっと忘れない</p>
      </div>
      <!-- Con esto se alinea elementos al centro mx-auto d-block-->
      <div class="mx-auto d-block">
        <iframe width="260" height="180" src="https://www.youtube.com/embed/cy9hIWgQqfQ" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

    </div>
    <div class="card">
      <div class="card-body text-center">
        <a href="https://www.animenexus.mx/" target="_blank" rel="radio-anime-nexus">
          <h5 class="">Radio Anime Nexus</h5>
        </a>
        <p class="card-text">La #1 de toda Latinoamérica.... Y NADA MAS!!!</p>
        <a href="https://www.animenexus.mx/"
          target="_blank"><img id="anime-img"
            src="https://i.pinimg.com/originals/2b/1c/02/2b1c020b77a595ecc88fd3b9f15acc57.png" alt="anime-imagen"></a>
      </div>


      <div class="card-footer">
        <small class="text-muted">Lo último en series.</small>
      </div>
    </div>
  </aside>

</div>
