<header class="row">
    <div class="col-md-12 text-center bg-white">
        <h1>NOTICIAS DEL MUNDO</h1>
    </div>
    <div class="col-md-12 bg-dark">
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <a class="navbar-brand" [routerLink]="['inicio']">Inicio</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['noticias']">Noticias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['cotizaciones']">Cotizaciones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['horoscopo']">Horoscopo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['coronavirus']">Coronavirus</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
